////////////////////////////////////////////////////////////////////////////////
// BLOG
////////////////////////////////////////////////////////////////////////////////

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}