@import 'colors';

////////////////////////////////////////////////////////////////////////////////
// BLOG
////////////////////////////////////////////////////////////////////////////////

.blog {
  &.post {
    padding: 50px 0 75px;


    //----- Hero: Includes the title, published date, time to read ----------------->>
    .hero {
      h1 {
        padding: 0 0 5px;
      }

      time {}
    }

    .articleBody {
      .lead {
        padding: 12px 0;
      }
    }
  }

  &.list {
    padding: 50px 0 75px;

    h1 {}

    .articles {
      padding: 35px 0;

      .blog-post-meta {
        margin-bottom: 1.25rem;
        color: #999;
      }
    }
  }
}

