////////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

.page-footer {
  background-color: $pf-black;
  bottom: 0;
  color: $pf-white;
  height: 20rem;
  margin-top: 8em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  width: 100%;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    height: 32rem;
  }

  .btn-primary {
    @include button-variant($pf-white, $pf-red-200, $pf-black);
    font-weight: bold;
    width: 40%;

    @include media-breakpoint-down(lg) {
      width: 70%;
    }

    @include media-breakpoint-down(md) {
      width: 60%;
    }

    @include media-breakpoint-down(xs) {
      width: 70%;
    }
  }

  .rh-logo {
    padding-top: 2rem;
  }

  h4 {
    font-family: $font-family-base;
  }
}
