////////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

footer.page-footer {
  background-color: #000;
  color: $pf-white;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .rh-logo {
    padding-top: 3rem;
  }

  h4 {
    font-family: $font-family-base;
  }
}
