
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

// Browser Prefixes
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}


$grid-max-width: 1289px;
$grid-nav-height: 50px;
$grid-body-width: 769px;
$grid-side-width: 240px;
$drawer-width: 240px;
$menu-title-height: 30px;


.menu {
  position: -webkit-sticky;
  position: sticky;
  top: $grid-nav-height;
  //padding: 0.5rem;
  //margin: 0.5rem;
  margin-top: 0;
  padding-top: 0.85rem;
  height: calc(100vh - $grid-nav-height);
  overflow-y: auto;
  //z-index: z('menu');

  @media only screen and (max-width: 600px) {
    top: 0;
  }

  &__label {
    font-size: 1rem;
    margin: 0.65rem 0;
    padding-bottom: 0.5rem;
    text-transform: capitalize;

    @media only screen and (max-width: 600px) {
      text-align: center;
      font-size: 1.125rem;
    }
  }

  &__title {
    cursor: pointer;
    position: relative;
    word-break: break-word;
    //font-size: 0.925rem;
    //height: $menu-title-height;
    margin: 0.25rem 0;

    &[data-depth="1"] {
      font-size: 0.925rem;
      //margin-left: 1.25rem;
    }

    &[data-depth="2"] {
      font-size: 0.925rem;
      //margin-left: 2.5rem;
    }

    &[data-depth="3"] {
      font-size: 0.925rem;
      //margin-left: 3.75rem;
    }

    &[data-depth="4"] {
      font-size: 0.925rem;
      //margin-left: 5rem;
    }

    &--collapse {
      border-bottom: 1px solid #D7D7D7;
      cursor: pointer;
      word-break: break-word;
      //font-size: 16px;
      //height: $menu-title-height;
      margin: 0.25rem 0;
      display: flex;
      //line-height: 20px !important;
      padding: 10px 0 10px 10px;
      //font-weight: 400;

      &[data-depth="1"] {
        font-size: 0.925rem;
        //margin-left: 1.25rem;
      }

      &[data-depth="2"] {
        font-size: 0.925rem;
        //margin-left: 2.5rem;
      }

      &[data-depth="3"] {
        font-size: 0.925rem;
        //margin-left: 3.75rem;
        //margin-left: 0.75rem;
      }

      &[data-depth="4"] {
        font-size: 0.925rem;
        //margin-left: 5rem;
      }

      i {
        font-size: 18px !important;
        padding-right: 6px !important;
      }
    }

    &--icon {
      margin-right: 1.2em;
      margin-top: 2px;

      &.down {
        @include rotate(90);
        @include transition(all, 0.15s, ease);
      }

      &.downrtl {
        @include rotate(-90);
        @include transition(all, 0.15s, ease);
      }

      &.right {
        @include rotate(0);
        @include transition(all, 0.15s, ease);
      }

      svg {
        display: block;
        margin: auto 0;
        @include transition(all, 0.15s, ease);
      }
    }
  }

  &__alone {
    cursor: pointer;
    @include no-select;
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-inline-start: 0 !important;
    word-wrap: break-word;
    
    @include transition();

    li {
      //margin-left: 1.25rem;

      &.active {
        font-weight: bold;
        padding-inline-start: 0 !important;
      }
    }
  }

  .active {
    max-height: 100%;
  }

  li.active {
    a {
      font-weight: bold;
    }
  }
}
