@import 'colors';

////////////////////////////////////////////////////////////////////////////////
// NAVBAR
////////////////////////////////////////////////////////////////////////////////

$navbar-min-height: 74px;

nav.navbar {
  min-height: $navbar-min-height;

  .nav-link {
    font-weight: 700;
    font-size: 1.1rem;
    display: inline-block;

    &:hover {
      border-bottom: 1px dashed $pf-white;
    }

    &.active, &:active, &:focus {
      border-bottom: 1px solid $pf-white;
    }
  }
}
