@import 'colors';

////////////////////////////////////////////////////////////////////////////////
// NAVBAR
////////////////////////////////////////////////////////////////////////////////

nav.navbar {
  .navbar-brand {
    font-family: Righteous, cursive;
    color: $pf-white !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);

    @include hover-focus {
      color: $pf-white !important;
    }
  }

  .nav-link {
    font-weight: 700;
    font-size: 1.1rem;
    display: inline-block;

    &:hover {
      border-bottom: 1px dashed $pf-white;
    }

    &.active, &:active, &:focus {
      border-bottom: 1px solid $pf-white;
    }
  }
}

