@import 'colors';

////////////////////////////////////////////////////////////////////////////////
// SIDENAV
////////////////////////////////////////////////////////////////////////////////

$color_1: #656C73;
$color_2: #ff4088;
$color_3: #72767D;

.sidenav {
  background: $pf-white;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: 214px;
  z-index: 1;

  > ul {
    > li {
      > ul.sub {
        display: none;

        > li {
          > a {
            display: block;
          }
        }
      }
    }

    > li.active {
      > ul.sub {
        display: block;
      }
    }
  }

  ul {
    > li {
      > a {
        .menu-arrow {
          float: right;
          margin-right: 8px;
          margin-top: 6px;
        }
      }
    }
  }
}

ul.sidebar-menu {
  padding: 0;
  margin: -2px 0 0;

  li {
    ul.sub {
      margin: -2px 0 0;
      padding: 0;

      li {
        background: #eeeeee;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        &:last-child {
          border-radius: 0 0 4px 4px;
          -webkit-border-radius: 0 0 4px 4px;
        }

        a {
          font-size: 12px;
          padding: 0 0 0 32px;
          line-height: 35px;
          height: 35px;
          transition: all 0.3s ease;
          color: $color_1;

          &:hover {
            color: $color_2;
            transition: all 0.3s ease;
            display: block;
          }
        }
      }

      li.active {
        a {
          color: $color_2;
          transition: all 0.3s ease;
          display: block;
        }
      }
    }

    line-height: 20px !important;

    a {
      span {
        display: inline-block;
      }

      color: $color_3;
      text-decoration: none;
      display: block;
      padding: 10px 0 10px 10px;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      transition: all 0.3s ease;
      border-right: 1px solid #D7D7D7;
      border-bottom: 1px solid #D7D7D7;
      white-space: nowrap;

      &:hover {
        background: #eeeeee;
        color: $color_2;
        display: block;
        transition: all 0.3s ease;
        border-bottom: 1px solid #ff4088;

        i {
          color: $color_2;
        }
      }

      &:focus {
        background: #eeeeee;
        color: $color_2;
        display: block;
        transition: all 0.3s ease;
        border-bottom: 1px solid #ff4088;

        i {
          color: $color_2;
        }
      }

      i {
        font-size: 18px;
        padding-right: 6px;
      }
    }
  }

  li.sub-menu {
    line-height: 15px;
    font-size: 16px;
  }

  li.active {
    a {
      background: #eeeeee;
      color: $color_2;
      display: block;
      transition: all 0.3s ease;

      i {
        color: $color_2;
      }

    }
  }
  .sub-menu {
    li.active {
      a {
        border-bottom: 1px solid #ff4088;
      }
    }
  }
}
