@import './bootstrap/_variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'blog';
@import 'colors';
@import 'icons';

body {
  color: $pf-black-800;
  font-family: 'Open Sans', 'Open Sans Condensed', 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 100;
}


////////////////////////////////////////////////////////////////////////////////
// NAVBAR
////////////////////////////////////////////////////////////////////////////////

.navbar-brand {
  font-family: Righteous, cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.navbar-toggler {
  cursor: pointer;
}

.sps--abv {
  background-color: transparent !important;
  transition: background-color 800ms ease-in-out;
}

.sps--blw {
  background-color: inherit;
  transition: background-color 800ms ease-in-out;
}


////////////////////////////////////////////////////////////////////////////////
// JUMBOTRON
////////////////////////////////////////////////////////////////////////////////

.jumbotron {
  position: relative;
  margin-bottom: 0;

  h1,h2,h3,h4,h5,h6 {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  }

  .title {
    color: #bee1f4;
  }

  .lead {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  }

  .btn-get-started {
    background-color: $pf-white;
    border: solid 1px $pf-white;
    border-radius: 12px;
    color: $pf-blue-300;

    &:hover {
      background-color: $pf-blue-300;
      border: solid 1px $pf-blue-300;
      border-radius: 12px;
      color: $pf-white;
    }
  }

  .btn-outline-learn-more {
    background: transparent;
    border: solid 1px $pf-white;
    border-radius: 12px;
    color: $pf-white;

    &:hover, &:focus {
      background: $pf-white;
      border: solid 1px $pf-white;
      color: $pf-blue-500;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// MAILING LIST
////////////////////////////////////////////////////////////////////////////////

.mailing-list {
  border-color: #0088ce;
  box-shadow: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);

  .lead {
    text-shadow: none;
  }

  .btn {
    font-weight: bold;
  }

  .btn-primary {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
  }
}


////////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////

footer.page-footer {
background-color: #000;
color: $white;
padding-top: 5rem;
padding-bottom: 5rem;

.btn-primary {
@include button-variant($white, #a30000, #000);
font-weight: bold;
width: 40%;

@include media-breakpoint-down(lg) {
  width: 70%;
}

@include media-breakpoint-down(md) {
  width: 60%;
}

@include media-breakpoint-down(xs) {
  width: 70%;
}
}

.rh-logo {
padding-top: 3rem;
}

h4 {
font-family: $font-family-base;
}
}

////////////////////////////////////////////////////////////////////////////////
// PARTICLE.JS
////////////////////////////////////////////////////////////////////////////////

#particles {
left: 0;
position: absolute;
top: 0;
width: 100%;
opacity: 0.5;
}

////////////////////////////////////////////////////////////////////////////////
// HOME PAGE
////////////////////////////////////////////////////////////////////////////////

.full-width-feature {
.screenshot {
width: 100%;
box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
}
