@import "./bootstrap/_variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: '../fonts' !default;

@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';

@import "asciidoc";
@import "blog";
@import "colors";
@import "docs";
@import "footer";
@import "github-corner";
@import "home";
@import "icons";
@import "mixins";
@import "navbar";
@import "sidenav";
@import "toc";
@import "highlighting";

html,
body {
  height: 100%;
  width: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding-top: $navbar-min-height + 26px;
}

#main {
    padding-bottom: 25rem;

  @include media-breakpoint-down(sm) {
    padding-bottom: 32rem;
  }

  .main-content {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 0; // https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow
    flex: 1;

    h2 {
      font-size: 1.75rem;
      padding: 35px 0 10px;

      &:first-of-type {
        padding: 15px 0;
      }
    }

    h3 {
      color: $pf-blue;
      font-size: 1.3em;
      padding: 15px 0 10px;
    }

    pre {
      background: #f7f7f8 !important;
    }
  }
}

:target::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

.article {
  padding-bottom: 21rem;
}
