@import './bootstrap/_variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'blog';
@import 'colors';
@import 'docs';
@import 'footer';
@import 'github-corner';
@import 'home';
@import 'icons';
@import 'navbar';
@import 'sidenav';
@import 'toc';

html, body {
  height: 100%;
  margin-top: -1px;

  .content {
    min-height: 100%;
    margin: 0 auto -50px;
    //padding: $navbar-max-height;
    padding: $navbar-max-height + 25px 165px;
  }
}

:target::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

