@import "node_modules/bootstrap/less/bootstrap.less";

@import url('https://fonts.googleapis.com/css?family=Overpass:100,400,700|Rubik:900');

@font-family-base: 'Overpass', sans-serif;
@font-size-base: 16px;
@font-weight-normal: 400;
@font-weight-bold: 700;

@color-white: rgba(255,255,255,1);
@color-white-secondary: rgba(255,255,255,.7);
@color-white-divider: rgba(255,255,255,.2);

@color-black: rgba(0,0,0,.87);
@color-black-secondary: rgba(0,0,0,.4);
@color-black-divider: rgba(0,0,0,.2);

@line-height-base:        1.6; // 20/14

@link-color: @color-white-secondary;


@input-border-radius-large:      2px;
@btn-border-radius-large:        2px;

@btn-primary-color:              #fff;
@btn-primary-bg:                 rgba(0,0,0,.8);
@btn-primary-border:             transparent;

@btn-default-color:              @color-black-secondary;
@btn-default-bg:                 rgba(0,0,0,0);
@btn-default-border:             @color-black-secondary;

@grid-gutter-width: 60px;

body{
  font-weight: @font-weight-normal;
  text-rendering: optimizeLegibility;
  // background-color: rgba(0,0,0,.2);
  // background-image:
  //   linear-gradient(-45deg, #267871, #136a8a);
  // color: @color-white;
  // background-image: url(../img/llama.jpg);
  // background-repeat: no-repeat;
  // background-position: right top;
  // background-size: cover;
  // background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6, strong, .btn-lg{
  font-weight: @font-weight-bold;
}

// .btn {
//   text-shadow: none!important;
//   cursor: pointer!important;
// }


header{
  // background-image: url(../img/llama.jpg);
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: cover;
  // background-attachment: fixed;


  // color: @color-white;
  // background: @color-black-divider;
  // box-shadow: inset 0px 0px 300px rgba(0,0,0,1);
  // text-shadow:  0 -1px 0px rgba(255,255,255,1);
  padding: 4em 0;
}

.brand {
  // text-shadow: 0 0em em white;
  // background-image: url(../img/llama.jpg);
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  // display: inline-block;
  // background-attachment: fixed;

  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 6em;
  @media (min-width: @screen-sm-min) {
    font-size: 11em;
  }
  @media (min-width: @screen-md-min) {
    font-size: 16em;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 19em;
  }
}

.btn{
  @media (max-width: @screen-xs-max) {
    .btn-block;
  }
}

h2{
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 0;
}

p{
  font-size: 1em;
  // margin-bottom: 1.5em;
}


.call-out, footer {
  background: @color-black-divider;
  margin: 4em 0;
  padding: 3em;

}

.actions {
  // color: @color-black-secondary;
  // font-size: .6em;
  p {
    // margin-bottom: 1em;
    font-size: 0.9em;
  }
  .btn {
    margin-bottom: 3em;
  }
  h2 {
    font-size: 1em;
    margin-bottom: .5em;
  }
}



footer{
  // margin-top: 0;
  padding: 4em 0;
  background: transparent;
  // background: @color-black-secondary; // #CC0000
  // border-top: 2px solid @color-black;
  // background-image: linear-gradient(transparent, #222);
  // color: #fff;
  // text-shadow: 0 -1px 0 rgba(0,0,0,.6);
  // ul{
  //   display: inline-block;
  //   margin-bottom: 2em;
  // }
  text-align: center;
  .rh-logo{
    img{
      height: 40px;
    }
  }

}
