@import "node_modules/bootstrap/less/bootstrap.less";

@import url('https://fonts.googleapis.com/css?family=Overpass:100,400,700|Rubik:900');

@font-family-base: 'Overpass', sans-serif;
@font-size-base: 16px;
@font-weight-normal: 400;
@font-weight-bold: 700;

@color-white: rgba(255,255,255,1);
@color-white-secondary: rgba(255,255,255,.7);
@color-white-divider: rgba(255,255,255,.2);

@color-black: rgba(0,0,0,.87);
@color-black-secondary: rgba(0,0,0,.54);
@color-black-divider: rgba(0,0,0,.4);

@line-height-base:        1.8; // 20/14

@link-color: @color-white-secondary;


@input-border-radius-large:      2px;
@btn-border-radius-large:        2px;

@btn-primary-color:              #fff;
@btn-primary-bg:                 rgba(0,0,0,.8);
@btn-primary-border:             darken(@btn-primary-bg, 5%);


body{
  font-weight: @font-weight-normal;
  text-align: center;
  background-color: rgba(0,0,0,.2);
 // box-shadow: inset 0 0 200px #fff;

}

h1,h2,h3,h4,h5,h6, strong, .btn-lg{
  font-weight: @font-weight-bold;
}

// .btn {
//   text-shadow: none!important;
//   cursor: pointer!important;
// }

.background {
  max-height: 100vw;
  z-index: -1;
  position: fixed;
  left: 0;
  filter: opacity(1) saturate(1.3) brightness(1.7) grayscale(.5) ;
}

header{
  // background-image: url(../img/llama.jpg);
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: cover;
  // background-attachment: fixed;


  // color: @color-white;
  // background: @color-black-divider;
  // box-shadow: inset 0px 0px 300px rgba(0,0,0,1);
  // text-shadow:  0 -1px 0px rgba(255,255,255,1);
  padding: 3em 0;
  @media (min-width: @screen-md-min) {
    // paddingbrand: 100px 0 80px 0;
  }

  .brand {
    // text-shadow: 0 0em em white;
    font-family: 'Rubik', sans-serif;
    font-size: 5em;
    // background-image: url(../img/llama.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // display: inline-block;
    // background-attachment: fixed;

    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;

    @media (min-width: @screen-sm-min) {
      font-size: 10em;
    }
    @media (min-width: @screen-md-min) {
      font-size: 15em;
    }
  }

  .btn{
    @media (max-width: @screen-xs-max) {
      .btn-block;
    }
  }

  h2{
    line-height: 1.5;
    @media (min-width: @screen-md-min) {
      padding: 0 4em;
    }
  }

  p{
    font-size:  @font-size-h4;
    margin-bottom: 2em;
    @media (min-width: @screen-md-min) {
      padding: 0 4em;
    }
  }

  .brand{
    @media (min-width: @screen-md-min) {
    }
  }//brand

}



section, footer{
  background: @color-white;
  padding: 2em 0;
  @media (min-width: @screen-md-min) {
    padding: 4em 0;
  }
}

.blurbs{
  .col-md-4{
    padding-bottom: 20px;
    @media (min-width: @screen-md-min) {
      border-bottom: none;
      padding-bottom: 0px;
    }
  }
}

.call {
  background: transparent;
  // background: red;
  // text-shadow: 0 -1px 1px rgba(0,0,0,1);
  // background: @color-black-divider;
  // box-shadow: inset 0 0 200px rgba(0,0,0,1);
  // color: @color-white;
  h2{
    margin-bottom: 1em;
  }
  p {
//    font-size:  @font-size-h4;
//    margin-bottom: 30px;
    @media (min-width: @screen-md-min) {
      padding: 0 4em;
    }
  }
  a{
    margin-top: 2em;
  }
}

footer{
  border-top: 2px solid @color-black;
  background: #222;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
  ul{
    display: inline-block;
    margin-bottom: 2em;
  }
  .rh-logo{
    img{
      height: 40px;
    }
  }

}
