@import "node_modules/bootstrap/less/bootstrap.less";

@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

@font-family-base: 'Overpass', sans-serif;
@font-size-base: 16px;
@font-weight-normal: 400;
@font-weight-bold: 700;

@color-white: rgba(255,255,255,1);
@color-white-secondary: rgba(255,255,255,.7);
@color-white-divider: rgba(255,255,255,.2);

@color-black: rgba(0,0,0,.87);
@color-black-secondary: rgba(0,0,0,.4);
@color-black-divider: rgba(0,0,0,.2);

@line-height-base:        1.6; // 20/14

@link-color: @color-white-secondary;

@input-border-radius-large:      2px;
@btn-border-radius-large:        2px;

@btn-primary-color:              #fff;
@btn-primary-bg:                 rgba(0,0,0,.8);
@btn-primary-border:             transparent;

@btn-default-color:              @color-white-secondary;
@btn-default-bg:                 rgba(0,0,0,0);
@btn-default-border:             @color-white-secondary;

@grid-gutter-width: 60px;

body{
  font-weight: @font-weight-normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  background-image:
  radial-gradient(ellipse farthest-corner at center top, rgba(255,255,255,.7) 0%, transparent 65%, transparent),
  // linear-gradient( to bottom, #bbbbbb, #ededed);
  linear-gradient(#e9fbcf 10%,#1d7d8e 90%);
  background-attachment: fixed;
  // box-shadow:
  //   inset 0 0em 10em #1d7d8e,
  //   inset 0 0em 20em #e9fbcf;
}

h1,h2,h3,h4,h5,h6, strong, .btn-lg{
  font-weight: @font-weight-bold;
}

header{
  padding: 8em 0;
}

.brand {
  width: 100%;
  fill: red;
}

.btn{
  margin-top: .5em;
  @media (max-width: @screen-xs-max) {
    .btn-block;
  }
}

h2{
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 0;
}

.call-out {
  background: @color-white;
  box-shadow: 0rem .5rem 1rem -.5rem rgba(0, 0, 0, 0.3);
  margin: 4em 0;
  padding: 3em;

}

.actions {
  i {
    font-size: 3em;
    color: @color-white-divider;
    // oa-bottom: 1em;
  }
  // p {
  //   font-size: 0.9em;
  // }
  h2 {
    // font-size: 1em;
    margin-top: .5em;
  }
}

footer{
  margin-top: 4em;
  color: @color-white-secondary;
  background-color: #09262b;
  background-image: linear-gradient(rgba(0,0,0,.6), transparent 10%);
  box-shadow: inset 0em 0em 5em rgba(0,0,0,.4);
  text-align: center;
  padding: 8em 0;
  .rh-logo{
    margin-top: 4em;
    img{
      height: 40px;
    }
  }

}

.btn-primary:hover{
  background: @color-black-secondary;
}
.btn-default:hover{
  background: @color-white-divider;
}
