<footer class="page-footer text-center">
  <div class="row">
    <section class="col-md-6">
      <i class="fa fa-3x fa-github" aria-hidden="true"></i>
      <h4>Get the source code</h4>
      <p>Stay tuned to contribute or build your own solution.</p>
      <p class="link-button">
        <a href="https://github.com/syndesisio" rel="nofollow" target="_blank" class="btn btn-primary">
          Syndesis on GitHub
        </a>
      </p>
    </section>
    <section class="col-md-6">
      <i class="fa fa-3x fa-comments-o"></i>
      <h4>Connect with us</h4>
      <p>Chat with the Syndesis community.</p>
      <p class="link-button">
        <a href="irc://freenode.net/syndesis" rel="nofollow" target="_blank" class="btn btn-primary">#syndesis on Freenode IRC</a>
      </p>
    </section>
  </div>
  <div class="rh-logo">
    <section>
      <a href="https://www.redhat.com" rel="nofollow" title="Red Hat, Inc." target="_blank">
        <img width="128" height="42" src="/images/redhatnew.svg" alt="Red Hat, Inc.">
      </a>
    </section>
  </div>
</footer>
