<footer class="page-footer text-center container-fluid">
  <div class="row">
    <section class="col-md-6">
      <i class="fa fa-3x fa-github" aria-hidden="true"></i>
      <h4>Get the source code</h4>
      <p>Stay tuned to contribute or build your own solution.</p>
      <p>
        <a href="https://github.com/syndesisio" rel="nofollow" target="_blank" class="btn btn-primary">
          Syndesis on GitHub
          </a>
      </p>
    </section>
    <section class="col-md-6">
      <i class="fa fa-3x fa-comments-o"></i>
      <h4>Connect with us</h4>
      <p>Chat with the Syndesis team and the Syndesis community at our Freenode IRC channel.</p>
      <p>
        <a href="irc://freenode.net/syndesis" rel="nofollow" target="_blank" class="btn btn-primary">#syndesis on Freenode IRC</a>
      </p>
    </section>
  </div>
  <div class="row rh-logo">
    <section class="col">
      <a href="https://www.redhat.com" rel="nofollow" title="Red Hat, Inc." target="_blank">
        <img src="images/red-hat-02.png" alt="Red Hat, Inc.">
      </a>
    </section>
  </div>
</footer>
</body>

</html>
