{{ $currentNode := . }}
{{ $menuName := .Params.sidebar }}
{{ $menu := index .Site.Menus $menuName }}
<aside>
  <ul class="sidebar-menu">
    <li class="nav-button hidden-lg-up"><button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas" data-target="#sidebar">Hide nav</button></li>
    {{ range $menu }}
    {{ if .HasChildren }}
    <li class="sub-menu{{ if $currentNode.HasMenuCurrent $menuName . }} active{{end}}">
      <a href="{{ .URL }}" class="">
        {{ .Pre }}
        <span>{{ .Name }}</span>
        <span class="menu-arrow fa {{if $currentNode.IsMenuCurrent $menuName . }}fa-angle-down{{else}}fa-angle-right{{end}}"></span>
      </a>
      <ul class="sub{{if $currentNode.HasMenuCurrent $menuName . }} open{{end}}">
      {{ range .Children }}
        <li{{if $currentNode.IsMenuCurrent $menuName . }} class="active"{{end}}><a href="{{.URL}}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </li>
  {{else}}
    <li{{ if $currentNode.IsMenuCurrent $menuName . }} class="active"{{end}}>
      <a class="" href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
      {{end}}
    </li>
  {{end}}
  <li> <a href="https://github.com/syndesisio/syndesis.io/issues" target="blank"><i class='fa fa-life-ring'></i> <span>Issues & Help</span></a> </li>
  {{ if .IsPage }}
  {{ $File := .File }} {{with $File.Path }}<li><a href="https://github.com/syndesisio/syndesis.io/edit/master/content/{{ $File.Dir }}{{ $File.LogicalName }}" target="blank"><i class='fa fa-fw fa-edit'></i> Refine this Page</a></li>{{end}}
  {{ end }}
  </ul>
</aside>
