{{ define "main"}}
<div itemscope
    itemtype="http://schema.org/BlogPosting"
    class="post">
  {{ template "_internal/schema.html" .}}
  <div class="hero">
    <h1 itemprop="headline">{{.Title}}</h1>
    {{ if .Description }}
    <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    <time class="post-time">{{ partial "blog/meta" . }}</time>
  </div>
  <div itemprop="articleBody"
      class="articleBody">
    {{ .Content | safeHTML }}
  </div>

  {{ if .Site.DisqusShortname }}
  <article>
    {{ template "_internal/disqus.html" .}}
  </article>
  {{ end }}
</div>
{{ end }}
