{{ partial "header.html" . }}
<div class="jumbotron jumbotron-fluid text-center text-white">
  <div class="container">
    <h1 class="display-4">Introducing <span class="title">Syndesis</span></h1>
    <p class="lead">Harness the Power of Open Source in a Truly Hybrid Integration Platform.</p>
    <p>
      <a class="btn btn-get-started" href="#" role="button">Get Started</a>
      <a class="btn btn-outline-learn-more" href="#" role="button">Learn More</a>
    </p>
  </div>
</div>
{{ partial "footer.html" . }}
