{{ partial "header.html" . }}
<div id="particles-js"></div>
<div class="jumbotron jumbotron-fluid text-center text-white">
  <canvas class="particlesjs"></canvas>
  <div class="container">
    <h1 class="display-4">Introducing <span class="title">Syndesis</span></h1>
    <p class="lead">Harness the Power of Open Source in a Truly Hybrid Integration Platform.</p>
    <p>
      <a class="btn btn-get-started" href="#" role="button">Get Started</a>
      <a class="btn btn-outline-learn-more" href="#" role="button">Learn More</a>
    </p>
  </div>
</div>
<div class="mailing-list bg-info text-white text-center">
  <div class="container">
    <p class="lead">
      We're hard at work building the platform's community site. Check back often for updates on progress, or sign up to our mailing list to get the latest news as it happens.
    </p>
    <p>
      <a href="https://groups.google.com/forum/#!forum/syndesis" rel="nofollow" target="_blank" class="btn btn-primary">
        Subscribe to the mailing list
      </a>
    </p>
  </div>
</div>
<div class="full-width-feature text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img style="height: 10rem" src="images/openshift-logo.svg" alt="OpenShift"/>
        <img style="height: 8rem" src="images/kubernetes-logo.svg" alt="Kubernetes"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>
          Flexible Deployments on Kubernetes or OpenShift
        </h4>
        <p class="lead">
          Don’t get tied into a single technology or platform. With Syndesis, you have a choice. Run it on the cloud or on premises. Run it on Kubernetes or OpenShift. The sky is the limit.
        </p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.0.2/particles.js" integrity="sha384-Bl7a88Sjii3hBFU16AlY9kXPfYVKNgPOgnYORuYthjxCxhjTjjUSKPyLJ6c3+iEv" crossorigin="anonymous"></script>
<script>
  (function() {
    window.onload = function() {
      Particles.init({
        selector: '.particlesjs',
        color: '#ffffff',
        connectParticles: true,
        maxParticles: 150,
        responsive: [
          {
            breakpoint: 768,
            options: {
              maxParticles: 80
            }
          }, {
            breakpoint: 375,
            options: {
              maxParticles: 50
            }
          }
        ]
      });
    };
  })();
</script>
{{ partial "footer.html" . }}
