{{ partial "header.html" . }}
<div id="particles-js"></div>
<div class="jumbotron jumbotron-fluid text-center text-white">
  <canvas class="particlesjs"></canvas>
  <div class="container">
    <h1 class="display-4">Introducing <span class="title">Syndesis</span></h1>
    <p class="lead">Harness the Power of Open Source in a Truly Hybrid Integration Platform.</p>
    <p>
      <a class="btn btn-get-started" href="#" role="button">Get Started</a>
      <a class="btn btn-outline-learn-more" href="#" role="button">Learn More</a>
    </p>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.0.2/particles.js" integrity="sha384-Bl7a88Sjii3hBFU16AlY9kXPfYVKNgPOgnYORuYthjxCxhjTjjUSKPyLJ6c3+iEv" crossorigin="anonymous"></script>
<script>
  (function() {
    window.onload = function() {
      Particles.init({
        selector: '.particlesjs',
        color: '#ffffff',
        connectParticles: true,
        maxParticles: 150,
        responsive: [
          {
            breakpoint: 768,
            options: {
              maxParticles: 80
            }
          }, {
            breakpoint: 375,
            options: {
              maxParticles: 50
            }
          }
        ]
      });
    };
  })();
</script>
{{ partial "footer.html" . }}
