{{ define "title" }}{{ .Site.Title}}{{ end }}

{{ define "pagejs" }}
<script src="/js/connectingDots.js"></script>
{{ end }}

{{ define "main" }}
<div class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <canvas id="particles"></canvas>
  <div class="container">
    <h1 class="display-4"><span class="title">Introducing</span> Syndesis</h1>
    <p class="lead">Harness the Power of Open Source in a Truly Hybrid Integration Platform.</p>
    <p>
      <a class="btn btn-get-started" href="/quickstart" role="button">Get Started</a>
    </p>
  </div>
</div>
<div class="mailing-list text-white text-center">
  <div class="container">
    <p class="lead">
      We're hard at work building the platform's community site. Check back often for updates on progress, or sign up to our mailing list to get the latest news as it happens.
    </p>
    <p>
      <a href="https://groups.google.com/forum/#!forum/syndesis" rel="nofollow" target="_blank" class="btn btn-primary">
        Subscribe to the mailing list
      </a>
    </p>
  </div>
</div>
<div class="full-width-feature text-center mt-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 push-md-6 mb-2">
        <div class="row feature-images">
          <div class="col col-md-12 pull-md-1 mb-md-2">
            <a href="https://twitter.com/"><img style="height: 3rem" src="images/twitter-logo.svg" alt="Twitter"/></a>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <a href="https://facebook.com/"><img style="height: 3rem" src="images/facebook-logo.svg" alt="Facebook"/></a>
          </div>
          <div class="col col-md-12 hidden-xs-down mb-md-2">
            <a href="https://linkedin.com/"><img style="height: 3rem" src="images/linkedin-logo.svg" alt="LinkedIn"/></a>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <a href="https://github.com/"><img style="height: 3rem" src="images/github-logo.svg" alt="GitHub"/></a>
          </div>
          <div class="col col-md-12 push-md-1 mb-md-2">
            <a href="https://google.com/"><img style="height: 3rem" src="images/google-logo.svg" alt="Google"/></a>
            <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
            <a href="https://salesforce.com/"><img style="height: 3rem" src="images/salesforce-logo.svg" alt="Salesforce"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-md-6">
        <h4>
          Connect any service or application
        </h4>
        <p class="lead">
          Syndesis can connect to any service you use. Syndesis provides a rich set of connectors
          out of the box, and if one doesn't exist - a friendly developer will be able to easily
          create one for you.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="full-width-feature text-center mt-4 mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <img class="screenshot" src="images/screenshot-integration-list.png" alt="Syndesis integration list"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>
          No coding required
        </h4>
        <p class="lead">
          The Syndesis UI allows literally anyone to create integrations from the simplest
          to the most complex.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="full-width-feature text-center mt-4 mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 push-md-6 mb-2">
        <img class="screenshot" src="images/screenshot-dashboard.png" alt="Syndesis dashboard"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-md-6">
        <h4>
          Always in control
        </h4>
        <p class="lead">
          The Syndesis dashboard lets you know how your integrations are running. Stop and start
          your integrations on demand. Do what you want with your data.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="full-width-feature text-center mt-4 mb-4 mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <a href="http://openshift.org/"><img style="height: 10rem" src="images/openshift-logo.svg" alt="OpenShift"/></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>
          Flexible Deployments on OpenShift
        </h4>
        <p class="lead">
          Don’t get tied into a single platform. With Syndesis, you have choices. Run it in the cloud or on-premise with OpenShift.
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
